body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family:Arial, "Microsoft YaHei", "宋体";
}
.content{
  padding-top: 70px;
}
.wrapper-content{
  width: 1100px;
  margin: 0 auto;
}
.wrapper-body{
  margin: 15px 0 30px 0;
  padding: 50px 100px;
  min-height: 500px;
  background-color: #FFFFFF;
  border: 1px solid #d9dbe7;
}
.de-narrow-form {
  width: 570px;
  margin: 0 auto;
}
.color-warning{
  color: #fe7e23;
}
.attention{
  height: 32px;
  line-height: 32px;
  color: #73787e;
}

.status-ok, .status-warn {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/status.png") no-repeat;
}
.status-ok {
  background-position: 0 -1px;
}
.status-warn {
  background-position: 0 -19px;
}

.display-none {
  display: none;
}
.to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.7;
  height: 38px;
  line-height: 38px;
  float: left;
  cursor: pointer;
  clear: both;
  width: 38px;
  text-align: center;
  background: #F5F5F5;
  border: 1px solid #ebebeb;
  transition: all 0.1s ease;
}
.to-top>i {
  font-size: 16px;
  color: #9C9C9C;
}
.to-top>em {
  display: none;
  margin: 3px auto 0;
  width: 24px;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
}
.to-top:hover {
  opacity: 1;
  background-color: #cccccc;
}
.to-top:hover i {
  display: none;
}
.to-top:hover em {
  display: block;
  color: #FFF;
}
/*react-select样式覆盖*/
.select-wrapper{
  width: 200px;
  margin-right: 20px;
}
.Select-control {
  border-radius: 0 !important;
}
.select-wrapper .Select-control {
  height: 40px;
  line-height: 38px;
  color: rgb(103, 104, 106);
}
.select-wrapper .Select-placeholder {
  line-height: 38px;
  color: rgb(103, 104, 106);
}
.select-wrapper .Select-option {
  padding: 8px 10px;
}
/*rc-select样式改变*/
.rc-pagination-options-size-changer {
  width: 90px !important;
}
/*modal footer样式*/
.modal-header{
  color: #FFFFFF;
  background-color: #16232d;
}
.modal-title {
  font-size: 16px;
}
.modal-footer {
  padding-left: 26%;
  padding-right: 26%;
}
.modal-content {
  border-radius: 0;
}
.modal-content .close {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ccc;
  opacity: 0.9;
}

/*bootStrap样式覆盖*/
.form-control {
  border-radius: 0 !important;
}
