.summary-panel {
  background-color: #FFFFFF;
}
.summary-title {
  font-size: 20px;
  color: #4a4a4a;
  padding: 10px 20px;
}
.summary-data {
  padding: 30px 20px;
  background-color: #eaedf2;
}
.summary-panel {
  color: #67686a;
  border-radius: 6px;
  overflow: hidden;
}
.summary-icon-wrapper {
  float: left;
  width: 40%;
  height: 150px;
  padding-top: 22px;
  padding-left: 7%;
}
.summary-icon-wrapper div {
  background: url("../img/icon-summary.png");
  width: 100px;
  height: 100px;
}
.summary-icon-总设备 {
  background-color: #6ccac9;
}
.summary-icon-总设备 div{
  background-position-x: 0;
}
.summary-icon-已用 {
  background-color: #f64649;
}
.summary-icon-已用 div{
  background-position-x: -100px;
}
.summary-icon-未用 {
  background-color: #39bbf7;
}
.summary-icon-未用 div{
  background-position-x: -200px;
}
.summary-content {
  width: 60%;
  padding-top: 20px;
  float: left;
}
.summary-num {
  font-size: 40px;
}
.summary-name {
  font-size: 18px;
}
.static-modal {
  display: inline-block;
}



