.panel {
  color: rgb(90, 90, 90);
  border: 1px solid #EEEEEE;
}
/*.serverInfo .panel {*/
  /*width: 49%;*/
  /*float: left;*/
/*}*/
/*.serverInfo .panel:nth-child(odd) {*/
  /*margin-right: 1%;*/
/*}*/
/*.serverInfo .panel:nth-child(even) {*/
  /*margin-left: 1%;*/
/*}*/
.panel .panel-heading {
  background-color: #57a3f1;
  padding: 6px 10px;
  color: white;
}
