body {
  color: #555f7b;
  font-family: Arial, '微软雅黑' !important,
}

.content {
  padding-top: 70px;
}

.wrapper-content {
  width: 1100px;
  margin: 0 auto;
}

.wrapper-body {
  margin: 15px 0 30px 0;
  padding: 50px 100px;
  min-height: 500px;
  background-color: #FFFFFF;
  border: 1px solid #d9dbe7;
}

.de-narrow-form {
  width: 700px;
  margin: 0 auto;
}

.color-warning {
  color: #fe7e23;
}

.attention {
  height: 32px;
  line-height: 32px;
  color: #73787e;
}

.qq-customer-service {
  width: 141px;
  height: 41px;
  display: block;
  background: url("../img/btn-qq.png") center top no-repeat;
  position: fixed;
  right: 0;
  bottom: 30px;
  z-index: 1000;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.qq-customer-service:hover {
  background-image: url("../img/btn-qq-hover.png");
}

.th-center {
  text-align: center;
}

.td-center {
  text-align: center;
}

.td-operations {
  display: inline;
}

.container-header {
  padding: 15px 0 5px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #DCDFE6;
}

.add-form {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #DCDFE6;
  margin-bottom: 10px;
}

.empty-search {
  text-align: center;
  color: #9da6c2;
  height: 100%;
}

.empty-search > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.add-form .panel-body {
  height: 400px;
}

.add-form .panel-body {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
}

.add-form-footer > button {
  margin-left: 20px;
}

.item-radio-custom {
  height: 40px;
  padding-left: 5px;
  border: 1px solid transparent;
  margin-bottom: 0;
}

.item-radio-custom:hover {
  border: 1px solid #1d55b0;
  background: #578be1;
  color: white;
}

.item-radio-custom > label {
  width: 120px;
  margin-right: 5px;
}

.item-radio-custom span {
  width: 16px;
}

.item-radio-custom i {
  margin: auto;
  color: #1d55b0;
  /*border-left: 1px solid;*/
  font-weight: normal;
}

.delete-icon {
  width: 20px;
  cursor: pointer;
  float: right;
}

.modal-track .close {
  color: #ffffff;
}

.modal-track .modal-header {
  padding: 5px 15px 5px 15px;
  background: #4c557e;
  color: #ffffff;
}

.modal-track .modal-footer {
  padding: 5px 15px 5px 15px;
  background: #f6f7fb;
  color: #ffffff;
}

.label-custom {
  background-color: #23b4c2;
  margin-left: 5px;
  font-weight: normal;
  padding: 3px;
  border: 1px solid #2e859a;
}

.rc-pagination {
  display: inline-block;
}

.delete-icon {
  display: inline-block;
}

.bkgc-orange {
  background-color: #fe9600;
}

.bkgc-green {
  background-color: #43c6a6;
}

.bkgc-gray {
  background-color: #c4cbde;
}

.btn-sky-blue {
  color: #fff;
  background: #25BBC3;
  border-color: #19939A;
  -moz-box-shadow: 0 1px 0 #67D2DA inset, 0 1px 0 #FFFFFF;
  -webkit-box-shadow: 0 1px 0 #67D2DA inset, 0 1px 0 #FFFFFF;
  box-shadow: 0 1px 0 #67D2DA inset, 0 1px 0 #FFFFFF;
  text-shadow: 0 1px 0 #2A7F84;
}

.btn-sky-blue:hover,
.btn-sky-blue:focus,
.btn-sky-blue.focus,
.btn-sky-blue:active,
.btn-sky-blue.active,
.open > .dropdown-toggle.btn-sky-blue {
  color: #fff;
  background: #25BBC3;
  border: 1px solid #19939A;
}

.btn-sky-blue:active:hover,
.btn-sky-blue.active:hover,
.open > .dropdown-toggle.btn-sky-blue:hover,
.btn-sky-blue:active:focus,
.btn-sky-blue.active:focus,
.open > .dropdown-toggle.btn-sky-blue:focus,
.btn-sky-blue:active.focus,
.btn-sky-blue.active.focus,
.open > .dropdown-toggle.btn-sky-blue.focus {
  color: #fff;
  background: #25BBC3;
  border: 1px solid #19939A;
}

.custom-btn-short {
  display: inline-block;
  padding: 6px 15px;
  border-radius: 1px;
}

.custom-btn-long {
  display: inline-block;
  padding: 6px 45px;
  border-radius: 1px;
}

.custom-btn-gray {
  color: #747780;
  background-color: #c6ccd8;
}

.custom-btn-gray:hover,
.custom-btn-gray:focus,
.custom-btn-gray:active {
  color: #747780;
  text-decoration: none;
}

.btn-track {
  border-radius: 1px;
  padding: 3px 20px 3px 20px;
}

.btn-primary-track {
  padding-left: 40px;
  padding-right: 40px;
}

.btn-new {
  padding: 6px 20px 6px 20px;
  background-color: #5278C9;
}

.btn-new:hover {
  background-color: #5278C9;
}

.btn-new i {
  margin-right: 10px
}

.new-link {
  cursor: pointer;
}

.new-link i {
  margin-right: 5px;
}

.game-icon,
.app-icon {
  display: inline-block;
  width: 88px;
  height: 88px;
  border-radius: 8px;
}

.game-icon {
  background-image: url("../img/game-icon.jpg");
}

.app-icon {
  background-image: url("../img/app-icon.png");
}

.cicon {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 2px;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
}

.cicon:hover,
.cicon:focus,
.cicon:active {
  color: #FFFFFF;
}

.icon-blue {
  background-color: #657cbf;
}

.hierachy-nav span {
  padding-right: 5px;
}

.rloading,
.rempty,
.rerror {
  padding: 30px 0;
  color: #AAAAAA;
}

.rloading i.fa,
.rempty i.fa,
.rerror i.fa {
  font-size: 50px;
}

.rloading div,
.rempty div,
.rerror div {
  padding: 10px 0;
}

.icon {
  padding: 0;
  height: 20px;
  width: 20px;
  position: relative;
  margin-right: 3px;
}

.tips-area {
  width: 400px;
  max-height: 214px;
  padding: 5px 10px 5px 15px;
  border-radius: 3px;
  position: absolute;
  right: 0;
  margin-top: 10px;
  z-index: 1070;
  display: block;
  background: #353851;
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
}

.tips-area > div {
  overflow-y: auto;
}

.tips-area:before {
  top: -12px;
  content: '';
  position: absolute;
  border: 6px solid transparent;
  border-bottom-color: #353851;
  height: 0px;
  overflow: hidden;
  right: 5px;
}

.tips-area > div > .table > tbody > tr > td {
  border-top: 1px dashed #3f424c;
}

.tips-area > div > .table > tbody > tr:first-child > td {
  border-top: none;
}

.tips-area table {
  margin: 0;
}

.common-container {
  padding: 10px;
}

.dateFilter {
  padding-bottom: 10px;
}

.de-calendar {
  display: inline-block;
  position: relative;
  width: auto;
}

.de-calendar .fa-calendar {
  margin: 0 5px 0 10px;
}

.de-calendar-text {
  display: inline-block;
  padding: 2px 8px;
  line-height: 2;
  border-left: 1px solid #CCCCCC;
  -moz-box-shadow: 1px 0px 0px #FFFFFF inset;
  -webkit-box-shadow: 1px 0px 0px #FFFFFF inset;
  box-shadow: 1px 0px 0px #FFFFFF inset;
}

.de-calendar .form-control {
  display: inline-block;
  padding: 0 8px 0 0;
  height: auto;
  background: #E4E8F2;
  background-image: -ms-linear-gradient(top, #F6F7FB, #D5DBE7);
  background-image: -moz-linear-gradient(top, #F6F7FB, #D5DBE7);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F6F7FB), color-stop(1, #D5DBE7));
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F6F7FB', endColorstr='#D5DBE7', GradientType='0');
  -moz-box-shadow: 0px 1px 0px #FFFFFF inset, 0px 1px 0px #FFFFFF;
  -webkit-box-shadow: 0px 1px 0px #FFFFFF inset, 0px 1px 0px #FFFFFF;
  box-shadow: 0px 1px 0px #FFFFFF inset, 0px 1px 0px #FFFFFF;
  text-shadow: 0px 1px 0px #FFFFFF;
  border: 1px solid #A5ADBD;
  border-radius: 2px;
}

.de-calendar .form-control:hover {
  background: #ecf0f8;
}

.btn-group.open .dropdown-toggle {
  background: #ecf0f8;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.panelPieRow {
  padding: 10px 10px 0 10px;
}

.rc-calendar-range .rc-calendar-date-input-wrap {
  width: 100%;
}

.rc-calendar-input-wrap {
  display: none;
}

.intervalChoosed {
  background: #25bbc3;
  color: #ffffff;
}

.currency {
  color: #25bbc3;
}
